/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color and font styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 100px;
    height: auto;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  /* Container styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Newsletter form styles */
  #newsletterForm {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #newsletterForm label {
    font-weight: bold;
  }
  
  #newsletterForm input[type="text"],
  #newsletterForm input[type="email"],
  #subscribeBtn {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  #subscribeBtn {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #subscribeBtn:hover {
    background-color: #0056b3;
  }
  
  /* Benefits section styles */
  .benefits {
    font-size: 1.1rem;
    margin-top: 20px;
  }
  
  /* About Us section styles */
  #aboutus {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
  }
  
  #aboutus h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Courses section styles */
  #courses {
    padding: 40px 20px;
    text-align: center;
  }
  
  #courses h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .course {
    margin-bottom: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .container h1 {
      font-size: 2rem;
    }
  
    .navbar {
      margin-top: 20px;
    }
  
    .navbar ul {
      flex-direction: column;
    }
  
    .navbar li {
      margin-bottom: 10px;
    }
  
    .right img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 576px) {
    .container h1 {
      font-size: 1.5rem;
    }
  
    .container p {
      font-size: 1rem;
    }
  }
  